{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
<div class="flex flex-row">
<ul>
  <li class="text-red-500">Item 7</li>
  <li class="text-green-500">Item 2</li>
  <li class="text-blue-500">Item 3</li>
</div>
<h1 class="text-3xl font-bold  text-cyan-400">
      Hello world!
    </h1>
{% endblock %}
